<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PROJETO | @ViewBag.Title</title>

        @if (IsSectionDefined("Styles"))
        {@RenderSection("Styles", required: false)}

        @* API GOOGLE MAPS *@
        <script src="https://maps.googleapis.com/maps/api/js?key=@Request["APIKeyMaps"]"></script>

        @* STYLES *@
        @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
        @Styles.Render("~/plugins/sweetAlertStyles")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/font-awesome/css")
        @Styles.Render("~/plugins/toastrStyles")
        @Styles.Render("~/Content/Google")


        @* SCRIPTS *@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/plugins/dataTables")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/plugins/slimScroll")
        @Scripts.Render("~/plugins/sweetAlert")
        @Scripts.Render("~/plugins/toastr")
        @Scripts.Render("~/bundles/inspinia")

        @RenderSection("scripts", required: false)

    </head>
    <body>
        <div id="wrapper" class="@Html.PageClass()">
            @Html.Partial("_Navigation")
            <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
                @Html.Partial("_TopNavbar")
                @RenderBody()
                @Html.Partial("_Footer")
            </div>
        </div>

        @* DEFAULT *@
        <script src="~/Content/js/home.js"></script>
    </body>
</html>
