@model DATABASE.Models.Agendamentos

@{
    ViewBag.Title = "Cadastrar Agendamento";
}
<h2>Novo Agendamento</h2>

@using (Ajax.BeginForm("Cadastrar", "Agendamento", FormMethod.Post, new AjaxOptions
{
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure"
}))
{
    @Html.AntiForgeryToken()
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Cadastrar</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-7 form-group">
                                @Html.LabelFor(md => md.descricao)
                                @Html.EditorFor(md => md.descricao, new { htmlAttributes = new { @class = "form-control", @Required = "True" } })
                                <small class="small">Esta descrição será utilizada para auxiliar o coletador.</small>
                            </div>
                            <div class="col-md-3 form-group">
                                @Html.Label("Tipo material")
                                @Html.DropDownList("idTipoMaterial", new SelectList(ViewBag.TipoMaterial, "ID", "descricao"), "-- Selecione --", htmlAttributes: new { @class = "form-control", @Required = "True" })
                            </div>
                            <div class="col-md-2 form-group">
                                @Html.Label("Hora preferêncial")
                                @Html.EditorFor(md => md.hora, new { htmlAttributes = new { @class = "form-control", @Required = "True", @type = "time" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                @Html.Label("Endereço")
                                @Html.DropDownList("idEndereco", new SelectList(ViewBag.Enderecos, "ID", "descricao"), "-- Selecione --", htmlAttributes: new { @class = "form-control", @Required = "True" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <button class="btn btn-primary pull-right" type="submit">Cadastrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Styles{

}

@section Scripts{
    <script type="text/javascript">
    </script>
}
