@model List<DATABASE.Models.Agendamentos>

@{
    ViewBag.Title = "Início";
}

<h2>Últimos agendamentos</h2>

@* MODAL *@
<div id="modalOpcoes"></div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var agend in Model)
        {
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Coleta - N° @agend.ID</h5>
                        <div class="ibox-tools">
                            @if (agend.StatusAgendamento.ID == 1)
                            {
                                <label class="label label-primary pull-right">@agend.StatusAgendamento.descricao</label>
                            }
                            @if (agend.StatusAgendamento.ID == 2)
                            {
                                <label class="label label-warning pull-right">@agend.StatusAgendamento.descricao</label>
                            }
                            @if (agend.StatusAgendamento.ID == 3)
                            {
                                <label class="label label-danger pull-right">@agend.StatusAgendamento.descricao</label>
                            }
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                @Html.Label("Solicitante")
                                <p>@agend.UsuariosSolicita.nome</p>
                            </div>
                            <div class="col-lg-3 form-group">
                                @Html.Label("Horário")
                                <p>@agend.hora</p>
                            </div>
                            <div class="col-lg-3 form-group">
                                @Html.LabelFor(Model => agend.dtAbertura)
                                <p>@agend.dtAbertura.ToShortDateString()</p>
                            </div>
                            <div class="col-lg-12 form-group">
                                @Html.LabelFor(lb => agend.Enderecos.rua)
                                <p>@agend.Enderecos.rua</p>
                            </div>
                            <div class="col-lg-12 form-group">
                                @Html.Label("Descrição")
                                <p>@agend.descricao</p>
                            </div>
                            <div class="col-lg-12 form-group">
                                @if (agend.idUsuarioColeta == 0)
                                {
                                    <small>Tempo limite</small>
                                    <small class="pull-right">@agend.dtAgendamento.AddDays(1).ToShortDateString() - @agend.dtAgendamento.ToShortTimeString()</small>
                                    <div class="progress progress-mini">
                                        @{
                                            TimeSpan intervalo;
                                            int result = 0;
                                            intervalo = DateTime.Now.Subtract(agend.dtAgendamento);
                                            result = Convert.ToInt16(intervalo.TotalHours);
                                            result = (result * 100) / 24;

                                            <div class="progress-bar label-primary" style="width: @result%;"></div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <small>Aguardando coleta</small>
                                    <small class="pull-right">@agend.dtAgendamento.AddDays(1).ToShortDateString() - @agend.dtAgendamento.ToShortTimeString()</small>
                                    <div class="progress progress-mini">
                                        @{
                                            TimeSpan intervalo;
                                            int result = 0;
                                            intervalo = DateTime.Now.Subtract(agend.dtAgendamento);
                                            result = Convert.ToInt16(intervalo.TotalHours);
                                            result = (result * 100) / 24;

                                            <div class="progress-bar label-warning" style="width: @result%;"></div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <hr />
                            <div class="col-lg-12">
                                @{ string tpUsuario = @Request["tipoUsuario"].ToString();}
                                @if (tpUsuario == "1")
                                {
                                    if (agend.idUsuarioColeta == 0)
                                    {
                                        <span>@Ajax.ActionLink("Informações", "null", new { id = 0 }, new AjaxOptions { HttpMethod = "" }, new { @class = "btn btn-sm botaoCinza pull-right", @disabled = "true" })</span>
                                    }
                                    else
                                    {
                                        <span>@Ajax.ActionLink("Informações", "InfoAgendamento", "Agendamento", new { id = agend.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @class = "btn btn-sm btn-primary pull-right" })</span>
                                    }
                                }
                                else
                                {
                                    <span>@Ajax.ActionLink("Informações", "InfoAgendamento", "Agendamento", new { id = agend.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @class = "btn btn-sm btn-default pull-right" })</span>
                                    <span>@Ajax.ActionLink("Rota", "CalcularRota", "Maps", new { id = agend.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "CalcularRota", OnFailure = "OnFailure" }, new { @class = "btn btn-sm btn-primary pull-left btnRota" })</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@* SCRIPTS *@
@if (@ViewBag.Rota != null) {
    <script>
        var origem = "teste";
        var tipoRota = @ViewBag.Rota.Endereco.tipoRota;

        console.log(tipoRota);
    </script>
}

@section Styles{

}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //ICONE BOTAO
            $('.btnRota').html('<i class="fa fa-map-marker-alt"></i> Rota');
        });

        function OnSuccess(response) {
            $("#modalOpcoes").html("");
            $("#modalOpcoes").append(response);
            $("#modalOpc").modal("show");
        }

        function CalcularRota(response) {
            $("#modalOpcoes").html("");
            $("#modalOpcoes").append(response);
            $("#modalOpc").modal("show");
        }

        function OnFailure(response) {
            $.ajax({
                statusCode: {
                    404: function () {
                        alert("Página não encontrada\n" + response);
                    },
                    500: function () {
                        alert("Erro de servidor\n" + response);
                    }
                }
            });
        }
    </script>
}
