@model List<DATABASE.Models.Agendamentos>

@{
    ViewBag.Title = "Início";
}

<h2>Últimos agendamentos</h2>

@* MODAL *@
<div id="modalOpcoes"></div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var agend in Model)
        {
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Agendamento - N° @agend.ID</h5>
                        <span class="pull-right"><i class="fa fa-calendar"></i> @agend.dtAbertura.ToShortDateString()</span>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-5 form-group">
                                @Html.Label("Solicitante")
                                <p>@agend.UsuariosSolicita.nome</p>
                            </div>
                            <div class="col-lg-4 form-group">
                                @Html.Label("Horário")
                                <p><i class="fa fa-clock-o"></i> @agend.hora</p>
                            </div>
                            <div class="col-lg-3 form-group">
                                @Html.Label("Status")
                                @if (agend.StatusAgendamento.ID == 1)
                                {
                                    <label class="label label-primary">@agend.StatusAgendamento.descricao</label>
                                }
                                @if (agend.StatusAgendamento.ID == 2)
                                {
                                    <label class="label label-warning">@agend.StatusAgendamento.descricao</label>
                                }
                                @if (agend.StatusAgendamento.ID == 3)
                                {
                                    <label class="label label-danger">@agend.StatusAgendamento.descricao</label>
                                }
                            </div>
                            <div class="col-lg-12 form-group">
                                @Html.LabelFor(lb => agend.Enderecos.endereco)
                                <p>@agend.Enderecos.endereco</p>
                            </div>
                            <div class="col-lg-12 form-group">
                                @Html.Label("Descrição")
                                <p>@agend.descricao</p>
                            </div>
                            <div class="col-lg-12 form-group">
                                @if (agend.idUsuarioColeta == 0)
                                {
                                    <small>Tempo limite</small>
                                    <small class="pull-right">@agend.dtAgendamento.AddDays(1).ToShortDateString() - @agend.dtAgendamento.ToShortTimeString()</small>
                                    <div class="progress progress-mini">
                                        @{
                                            TimeSpan intervalo;
                                            int result = 0;
                                            intervalo = DateTime.Now.Subtract(agend.dtAgendamento);
                                            result = Convert.ToInt16(intervalo.TotalHours);
                                            result = (result * 100) / 24;

                                            <div class="progress-bar label-primary" style="width: @result%;"></div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <small>Aguardando retirada</small>
                                    <small class="pull-right">@agend.dtAgendamento.AddDays(1).ToShortDateString() - @agend.dtAgendamento.ToShortTimeString()</small>
                                    <div class="progress progress-mini">
                                        @{
                                            TimeSpan intervalo;
                                            int result = 0;
                                            intervalo = DateTime.Now.Subtract(agend.dtAgendamento);
                                            result = Convert.ToInt16(intervalo.TotalHours);
                                            result = (result * 100) / 24;

                                            <div class="progress-bar label-warning" style="width: @result%;"></div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                @if (agend.idUsuarioColeta == 0)
                                {
                                <span>@Ajax.ActionLink("Informações", "null", new { id = 0 }, new AjaxOptions { HttpMethod = "" }, new { @class = "btn btn-sm botaoCinza pull-right", @disabled = "true"})</span>
                                }
                                else
                                {
                                    <span>@Ajax.ActionLink("Informações", "InfoAgendamento", "Agendamento", new { id = agend.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @class = "btn btn-sm btn-primary pull-right" })</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Styles{

}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
        });

        function OnSuccess(response) {
            $("#modalOpcoes").html("");
            $("#modalOpcoes").append(response);
            $("#modalOpc").modal("show");
        }

        function OnFailure(response) {
            $.ajax({
                statusCode: {
                    404: function () {
                        alert("Página não encontrada\n" + response);
                    },
                    500: function () {
                        alert("Erro de servidor\n" + response);
                    }
                }
            });
        }
    </script>
}
