@model APLICACAO.Models.Login

@{
    ViewBag.Title = "Entrar";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>

    @* STYLES *@
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/plugins/toastrStyles")


    @* SCRIPTS *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/bundles/inspinia")

</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1><i class="fa fa-user-circle"></i></h1>
            </div>
            <h3>Acessar ProjetoTU</h3>
            <p>Utilize sua conta para acessar o portal</p>
            <br />
            @using (Ajax.BeginForm("Login", "Home", FormMethod.Post, new AjaxOptions
            {
                OnSuccess = "OnSuccess",
                OnFailure = "OnFailure"
            }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12 form-group text-left">
                        @Html.LabelFor(md => md.UserName)
                        @Html.EditorFor(md => md.UserName, new { htmlAttributes = new { @class = "form-control", @Required = "True" } })
                    </div>
                    <div class="col-md-12 form-group text-left">
                        @Html.LabelFor(md => md.Password)
                        @Html.EditorFor(md => md.Password, new { htmlAttributes = new { @class = "form-control", @Required = "True", @Type = "Password" } })
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="col-md-12 form-group">
                        <button class="btn btn-primary" type="submit">Entrar</button>
                    </div>
                </div>
            }
            <p class="m-t"> <small>Projeto ReciclaSantos &copy; 2019</small></p>
        </div>
    </div>
</body>
</html>

@* DEFAULT *@
<script>
    var toastr;
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
    }

    function OnFailure(response) {
        $.ajax({
            statusCode: {
                404: function () {
                    swal({
                        title: "Erro!",
                        text: "Página não encontrada\n" + response,
                        type: "error",
                        showCancelButton: false,
                        closeOnConfirm: false,
                        confirmButtonText: "Ok",
                        confirmButtonColor: "#1ab394"
                    }, function () {
                        return false;
                    });
                },
                500: function () {
                    swal({
                        title: "Erro!",
                        text: "Erro de servidor\n" + response,
                        type: "error",
                        showCancelButton: false,
                        closeOnConfirm: false,
                        confirmButtonText: "Ok",
                        confirmButtonColor: "#1ab394"
                    }, function () {
                        return false;
                    });
                }
            }
        });
    }

    function OnSuccess(response) {
        toastr.remove()
        if (response.erro == true) {
            toastr.error(response.msg);
            return false;
        }
        else {
            toastr.success("Entrando...");
            $(location).attr('href','/');
        }
    }
</script>


