@model APLICACAO.Models.Endereco

@{
    Layout = null;
}

<div class="modal fade" id="modalOpc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Endereço</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 form-group">
                        @* DIV MAPS *@
                        <div id="mapa" class="mapaGoogle"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@* SCRIPTS *@
<script>
    var origem = "@Model.EnderecosOrigem.Rua" + " @Model.EnderecosOrigem.Numero" +", @Model.EnderecosOrigem.Cidade";
    var destino = "@Model.EnderecosDestino.Rua" + " @Model.EnderecosDestino.Numero" +", @Model.EnderecosDestino.Cidade";
    var tipoRota = @Model.TipoRota;
</script>

@* MAPS *@
<script src="~/Content/js/maps.js"></script>