@model APLICACAO.Models.Login
@{
    Layout = null;
}

<div class="modal fade" id="modalOpc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Alterar senha</h5>
            </div>
            @using (Ajax.BeginForm("AlterarSenha", "Usuario", FormMethod.Post, new AjaxOptions
            {
                OnSuccess = "OnSuccess",
                OnFailure = "OnFailure"
            }))
            {
                <div class="modal-body">
                    <div class="row">
                        @Html.AntiForgeryToken()
                        <div class="col-lg-6 form-group">
                            @Html.LabelFor(c => Model.password)
                            @Html.EditorFor(c => Model.password, new { htmlAttributes = new { @class = "form-control form-control-sm", @Required = "True",  @Type = "password" } })
                        </div>
                        <div class="col-lg-6 form-group">
                            @Html.LabelFor(c => Model.newPassword)
                            @Html.EditorFor(c => Model.newPassword, new { htmlAttributes = new { @class = "form-control form-control-sm", @Required = "True", @Type = "password"} })
                            <small class="text-muted">A senha deve conter no mínimo 8 caracteres e 1 letra maiúscula</small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary btn-sm pull-right">Cadastrar</button>
                </div>
            }
        </div>
    </div>
</div>