@model DATABASE.Models.Usuarios

@{
    ViewBag.Title = "Cadastrar Usuario";
}

<h2>Cadastrar Usuario</h2>

@using (Html.BeginForm("Cadastrar", "Usuario", FormMethod.Post, new AjaxOptions
{
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure"
}))
{
    @Html.AntiForgeryToken()
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-4 form-group">
                @Html.LabelFor(c => c.userName)
                @Html.EditorFor(c => c.userName, new { htmlAttributes = new { @class = "form-control", @Required = "True" } })
            </div>
            <div class="col-md-4 form-group">
                @Html.LabelFor(c => c.nome)
                @Html.EditorFor(c => c.nome, new { htmlAttributes = new { @class = "form-control", @Required = "True" } })
            </div>
            <div class="col-md-4 form-group">
                @Html.LabelFor(c => c.CPF)
                @Html.EditorFor(c => c.CPF, new { htmlAttributes = new { @class = "form-control", @Required = "True" } })
            </div>
            <div class="col-md-4 form-group">
                @Html.Label("Tipo usuario")
                @Html.DropDownList("idTipoUsuario", null, "-- Selecione --", htmlAttributes: new { @class = "form-control", @Required = "True" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary form-control form-control-sm" type="submit">Cadastrar</button>
            </div>
        </div>
    </div>
}

@section Styles{

}

@section Scripts{
    <script type="text/javascript">
    </script>
}

