@model DATABASE.Models.Enderecos

@{
    ViewBag.Title = "Cadastrar Endereços";
}

<h2>Cadastrar endereço</h2>

@using (Ajax.BeginForm("CadastrarEndereco", "Usuario", FormMethod.Post, new AjaxOptions
{
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure"
}))
{
    @Html.AntiForgeryToken()
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(c => c.endereco)
                @Html.EditorFor(c => c.endereco, new { htmlAttributes = new { @class = "form-control form-control-sm", @Required = "True" } })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(c => c.descricao)
                @Html.EditorFor(c => c.descricao, new { htmlAttributes = new { @class = "form-control form-control-sm", @Required = "True" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary form-control form-control-sm" type="submit">Cadastrar</button>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    function OnSuccess(response) {
        alert(response);
    }

    function OnFailure(response) {
        $.ajax({
            statusCode: {
                404: function () {
                    alert("Página não encontrada\n" + response);
                },
                500: function () {
                    alert("Erro de servidor\n" + response);
                }
            }
        });
    }
</script>