@model List<DATABASE.Models.Usuarios>
@{
    ViewBag.Title = "Minha Conta";
}

<h2>Minha conta</h2>

@* MODAL *@
<div id="modalOpcoes"></div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var md in Model)
        {
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Lista de endereços </h5>
                        <div class="ibox-tools botaoInsert">
                            @Ajax.ActionLink("Cadastrar", "CadastrarEndereco", "Usuario", new AjaxOptions { HttpMethod = "GET", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @class = "botaoInsert btn btn-sm btn-default", @id = "btnCadastrar"})
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            @foreach (var item in md.Enderecos)
                            {
                                <div class="col-lg-4">
                                    @if (item.idStatus == 0)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                @item.descricao
                                                @Ajax.ActionLink("Ativar", "AtivarEndereco", "Usuario", new { id = item.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "EnderecoAtivado", OnFailure = "OnFailure" }, new { @class = "label label-primary pull-right" })
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-9">
                                                        <label>@Html.LabelFor(lb => item.rua)</label>
                                                        <p>@item.rua</p>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>@Html.LabelFor(lb => item.numero)</label>
                                                        <p>@item.numero</p>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <label>@Html.LabelFor(lb => item.complemento)</label>
                                                        <p>@item.complemento</p>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>@Html.LabelFor(lb => item.cidade)</label>
                                                        <p>@item.cidade</p>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>@Html.LabelFor(lb => item.CEP)</label>
                                                        <p>@item.CEP</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <hr />
                                                    <div class="col-lg-12">
                                                        <span>@Ajax.ActionLink("Ver no mapa", "MostraEndereco", "Maps", new { id = item.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "MostraEndereco", OnFailure = "OnFailure" }, new { @class = "btn btn-xs btn-default pull-right btnEndereco" })</span>
                                                        <a class="label label-danger btnRemover pull-left" id="@item.ID">Remover</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (item.idStatus == 1)
                                    {
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                @item.descricao
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-9">
                                                        <label>@Html.LabelFor(lb => item.rua)</label>
                                                        <p>@item.rua</p>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>@Html.LabelFor(lb => item.numero)</label>
                                                        <p>@item.numero</p>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <label>@Html.LabelFor(lb => item.complemento)</label>
                                                        <p>@item.complemento</p>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>@Html.LabelFor(lb => item.cidade)</label>
                                                        <p>@item.cidade</p>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>@Html.LabelFor(lb => item.CEP)</label>
                                                        <p>@item.CEP</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <hr />
                                                    <div class="col-lg-12">
                                                        <span>@Ajax.ActionLink("Ver no mapa", "MostraEndereco", "Maps", new { id = item.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "MostraEndereco", OnFailure = "OnFailure" }, new { @class = "btn btn-xs btn-primary pull-right btnEndereco" })</span>
                                                        <small class="text-muted">Endereço ativado como principal</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Styles{

}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //ICONE BOTAO
            $('.btnEndereco').html('<i class="fa fa-map-marker-alt"></i> Ver no mapa');
            $('#btnCadastrar').html('<i class="fa fa-plus"></i> Cadastrar');

            //DELETA ENDERECO
            $(".btnRemover").on("click", function () {
                var id = $(this).attr("id");

                swal({
                    title: "Deseja remover o endereço?",
                    text: "esta ação não poderá ser desfeita",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "Fechar",
                    closeOnConfirm: false,
                    confirmButtonText: "Remover",
                    confirmButtonColor: "#1ab394"
                }, function () {
                    $.ajax(
                        {
                            type: "POST",
                            url: "@Url.Action("RemoverEndereco", "Usuario")",
                            dataType: "json",
                            data: { "id": id },
                            success: function (data) {
                            }
                        }
                    )
                    .done(function (data) {
                        swal({
                            title: "Pronto!",
                            text: data,
                            type: "success",
                            showCancelButton: true,
                            closeOnConfirm: false,
                            confirmButtonText: "Ok",
                            confirmButtonColor: "#1ab394"
                        }, function () {
                            location.reload();
                        });
                    })
                    .error(function (data) {
                        swal("Oops", data, "error");
                    });
                });
            });
        });

        function EnderecoAtivado(response) {
            swal({
                title: "Pronto!",
                text: response,
                type: "success",
                showCancelButton: false,
                closeOnConfirm: false,
                confirmButtonText: "Ok",
                confirmButtonColor: "#1ab394"
            }, function () {
                location.reload();
            });
        }

        function MostraEndereco(response) {
            $("#modalOpcoes").html("");
            $("#modalOpcoes").append(response);
            $("#modalOpc").modal("show");
        }

        function OnSuccess(response) {
            $("#modalOpcoes").html("");
            if (response.erro == 1) {
                swal("Erro!", response.mensagem, "error");
            }
            else {
                $("#modalOpcoes").append(response);
                $("#modalOpc").modal("show");
            }
        }

        function OnFailure(response) {
            $.ajax({
                statusCode: {
                    404: function () {
                        alert("Página não encontrada\n" + response);
                    },
                    500: function () {
                        alert("Erro de servidor\n" + response);
                    }
                }
            });
        }
    </script>
}
