@model List<DATABASE.Models.Usuarios>
@{
    ViewBag.Title = "Lista de Usuarios";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <h2>LISTA USUARIOS</h2>
        <h3>@Html.ActionLink("Cadastrar", "Cadastrar", "Usuario")</h3>
        <div class="col-md-6">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var md in Model)
                    {
                        <tr>
                            <th scope="row">@md.ID</th>
                            <td>@md.nome</td>
                            <td>@md.CPF</td>
                            <td>@md.TiposUsuario.descricao</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>