@model DATABASE.Models.Usuarios
@{
    ViewBag.Title = "Minha Conta";
}

<h2>Minha conta</h2>

@* MODAL *@
<div id="modalOpcoes"></div>

<div class="wrapper wrapper-content animated fadeInRight">
    @* ENDERECOS *@
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de endereços </h5>
                    <div class="ibox-tools botaoInsert">
                        @Ajax.ActionLink("Cadastrar", "CadastrarEndereco", "Usuario", new AjaxOptions { HttpMethod = "GET", OnSuccess = "CadastroSucesso", OnFailure = "OnFailure" }, new { @class = "botaoInsert btn btn-sm btn-default", @id = "btnCadastrar" })
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        @foreach (var item in Model.Enderecos.Where(c => c.IdStatus != 3))
                        {
                            <div class="col-lg-4">
                                @if (item.IdStatus == 0)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            @item.Descricao
                                            @Ajax.ActionLink("Ativar", "AtivarEndereco", "Usuario", new { id = item.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @class = "label label-primary pull-right" })
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>@Html.LabelFor(lb => item.Rua)</label>
                                                    <p>@item.Rua</p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label>@Html.LabelFor(lb => item.Numero)</label>
                                                    <p>@item.Numero</p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>@Html.LabelFor(lb => item.Complemento)</label>
                                                    @if (item.Complemento != null)
                                                    {
                                                        <p>@item.Complemento</p>
                                                    }
                                                    else
                                                    {
                                                        <p>&ensp;</p>

                                                    }
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>@Html.LabelFor(lb => item.Cidade)</label>
                                                    <p>@item.Cidade</p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>@Html.LabelFor(lb => item.Estado)</label>
                                                    <p>@item.Estado</p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>@Html.LabelFor(lb => item.CEP)</label>
                                                    <p>@item.CEP</p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>@Html.LabelFor(lb => item.Pais)</label>
                                                    <p>@item.Pais</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <hr />
                                                <div class="col-lg-12">
                                                    <span>@Ajax.ActionLink("Ver no mapa", "MostraEndereco", "Maps", new { id = item.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ModalOpcoes", OnFailure = "OnFailure" }, new { @class = "btn btn-xs btn-default pull-right btnEndereco" })</span>
                                                    <a class="label label-danger btnRemover" id="@item.ID">Remover</a>
                                                    <span>@Ajax.ActionLink("Editar", "EditarEndereco", "Usuario", new { id = item.ID }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "ModalOpcoes", OnFailure = "OnFailure" }, new { @class = "label label-default" })</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (item.IdStatus == 1)
                                {
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            @item.Descricao
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>@Html.LabelFor(lb => item.Rua)</label>
                                                    <p>@item.Rua</p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label>@Html.LabelFor(lb => item.Numero)</label>
                                                    <p>@item.Numero</p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>@Html.LabelFor(lb => item.Complemento)</label>
                                                    @if (item.Complemento != null)
                                                    {
                                                        <p>@item.Complemento</p>
                                                    }
                                                    else
                                                    {
                                                        <p>&ensp;</p>

                                                    }
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>@Html.LabelFor(lb => item.Cidade)</label>
                                                    <p>@item.Cidade</p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>@Html.LabelFor(lb => item.Estado)</label>
                                                    <p>@item.Estado</p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>@Html.LabelFor(lb => item.CEP)</label>
                                                    <p>@item.CEP</p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>@Html.LabelFor(lb => item.Pais)</label>
                                                    <p>@item.Pais</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <hr />
                                                <div class="col-lg-12">
                                                    <span>@Ajax.ActionLink("Ver no mapa", "MostraEndereco", "Maps", new { id = item.ID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ModalOpcoes", OnFailure = "OnFailure" }, new { @class = "btn btn-xs btn-primary pull-right btnEndereco" })</span>
                                                    <small class="text-muted">Endereço ativado como principal</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* MEUS DADOS *@
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Meus dados</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>@Html.LabelFor(c => Model.nome)</label>
                            <p>@Model.nome</p>
                        </div>
                        <div class="col-lg-6">
                            <label>@Html.LabelFor(c => Model.CPF)</label>
                            <p>@Model.CPF</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>@Html.LabelFor(c => Model.TiposUsuario.descricao)</label>
                            <p>@Model.TiposUsuario.descricao</p>
                        </div>
                        <div class="col-lg-6">
                            <label>@Html.LabelFor(c => Model.userName)</label>
                            <p>@Model.userName</p>
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                        <div class="col-lg-6">
                            <span>@Ajax.ActionLink("Editar informações", "EditarCadastro", null, new AjaxOptions { HttpMethod = "GET", OnSuccess = "ModalOpcoes", OnFailure = "OnFailure" }, new { @class = "btn btn-sm btn-default pull-right" })</span>
                        </div>
                        <div class="col-lg-6">
                            <span>@Ajax.ActionLink("Alterar senha", "AlterarSenha", null, new AjaxOptions { HttpMethod = "GET", OnSuccess = "ModalOpcoes", OnFailure = "OnFailure" }, new { @class = "btn btn-sm btn-default pull-right" })</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{

}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //ICONE BOTAO
            $('.btnEndereco').html('<i class="fa fa-map-marker-alt"></i> Ver no mapa');
            $('#btnCadastrar').html('<i class="fa fa-plus"></i> Cadastrar');

            //DELETA ENDERECO
            $(".btnRemover").on("click", function () {
                var id = $(this).attr("id");
                swal({
                    title: "Deseja remover o endereço?",
                    text: "esta ação não poderá ser desfeita",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "Fechar",
                    closeOnConfirm: false,
                    confirmButtonText: "Remover",
                    confirmButtonColor: "#1ab394"
                }, function () {
                    $.ajax(
                        {
                            type: "POST",
                            url: "@Url.Action("RemoverEndereco", "Usuario")",
                            dataType: "json",
                            data: { "id": id },
                            success: function (data) {
                            }
                        }
                    )
                    .done(function (response) {
                        OnSuccess(response)
                    })
                    .error(function (response) {
                        OnSuccess(response)
                    });
                });
            });
        });

        function CadastroSucesso(response) {
            if (response.erro == true) {
                swal({
                    title: "Ops!",
                    text: response.msg,
                    type: "warning",
                    showCancelButton: false,
                    closeOnConfirm: true,
                    confirmButtonText: "Ok",
                    confirmButtonColor: "#1ab394"
                }, function () {
                });
            }
            else {
                ModalOpcoes(response);
            }
        }
    </script>
}
